<app-header />


<main>
    <ul class="" id="users">
        <li>
            <app-users [user]="users[0]" (select)="onSelectUser($event)"/>
        </li>
        <li>
            <app-users [user]="users[1]"  (select)="onSelectUser($event)" />
        </li>
        <li>
            <app-users [user]="users[2]"  (select)="onSelectUser($event)" />
        </li>
        <li>
            <app-users [user]="users[3]"  (select)="onSelectUser($event)" />
        </li>
    </ul>

    <app-tasks [name]="selectUser ? selectUser.name: ''"/>
</main>
